@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  background-image: url("/assets/bgLudika.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ---------------- TIJOLO ---------------- */
@font-face {
  font-family: "Tijolo";
  src:
    url("/fonts/Tijolo/Tijolo-Thin.woff2") format("woff2"),
    url("/fonts/Tijolo/Tijolo-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Tijolo";
  src:
    url("/fonts/Tijolo/Tijolo-ExtraLight.woff2") format("woff2"),
    url("/fonts/Tijolo/Tijolo-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Tijolo";
  src:
    url("/fonts/Tijolo/Tijolo-Light.woff2") format("woff2"),
    url("/fonts/Tijolo/Tijolo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Tijolo";
  src:
    url("/fonts/Tijolo/Tijolo-Regular.woff2") format("woff2"),
    url("/fonts/Tijolo/Tijolo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tijolo";
  src: url("/fonts/Tijolo/Tijolo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Tijolo";
  src: url("/fonts/Tijolo/Tijolo-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Tijolo";
  src:
    url("/fonts/Tijolo/Tijolo-Bold.woff2") format("woff2"),
    url("/fonts/Tijolo/Tijolo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Tijolo";
  src:
    url("/fonts/Tijolo/Tijolo-ExtraBold.woff2") format("woff2"),
    url("/fonts/Tijolo/Tijolo-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* ---------------- GOTHAM METROPOLIS ---------------- */
@font-face {
  font-family: "GothamMetropolis";
  src: url("/fonts/GothamMetropolis/GothamMetropolis-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* ---------------- GOTHAM MONTSERRAT ---------------- */
@font-face {
  font-family: "GothamMontserrat";
  src: url("/fonts/GothamMontserrat/GothamMontserrat-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.fonteTijolo {
  font-family: "Tijolo", sans-serif;
}

.fonteGothamMetropolis {
  font-family: "GothamMetropolis", sans-serif;
}

.fonteGothamMontserrat {
  font-family: "GothamMontserrat", sans-serif;
}
